@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    color: #ffffff;
    align-items: center;
    margin: 0px;
    padding: 0px;

}


/* common setting */
* {
    box-sizing: border-box;
}

p,
h1,
h2 {
    padding: 0;
    margin: 0;
}

header,
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */
header {
    background-color: #1F2937;
}

header .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px 8px 0px;
}

header .logo-image {
    height: 48px;
}

header nav {
    align-self: flex-start;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    gap: 1rem;
    font-weight: 250;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

/* hero section */
#hero {

    background-color: #1F2937;
}

#hero .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-main {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-description h1 {
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-description p {
    font-size: 1rem;
    color: #E5E7EB;
}

.btn-signup {
    border-radius: 10px;
    background-color: #3882F6;
    font-size: 1rem;
    color: #E5E7EB;
    max-width: 120px;
    border-color: #3882F6;
    padding: 4px 8px;
    cursor: pointer;
    border: 0;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease;
}

.btn-signup:hover {
    box-shadow: 0 6px 8px rgba(255, 255, 255, 0.2);
}

.btn-signup:active {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(255, 255, 255, 0.3);
}

.hero-image-container {
    width: 40%;
    display: flex;

}

#hero img {
    width: 100%;
    height: auto;
}

/* information section */


#information .container {
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 24px;
}

#information h2 {
    font-size: 2rem;
    color: #1F2937;
    font-weight: 900;
    margin: 2%;
}

#information .card-container {
    display: flex;
    margin-bottom: 4%;
    justify-content: space-between;
}

#information .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#information img {
    border: 2px solid #3882F6;
    border-radius: 4px;
    width: 90%;
}

#information .img-caption {
    font-size: 0.7rem;
    color: #626b77;
    text-align: center;
    padding: 4px 8px 4px 8px;
}

/* quote section */

#quote {
    background-color: #e5e7eb;
}

#quote .container {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 24px;
}

#quote h2 {
    font-style: italic;
    font-size: 2rem;
    font-weight: 300;
    color: #1F2937;
    margin: 0;
}

#quote .name {
    width: 100%;
    text-align: right;
    font-size: 1rem;
    padding-right: 1rem;
    color: #1F2937;
    font-weight: 600;
    margin: 16px;
}

/* call to action */

/* #call-to-action,
#call-to-action * {
    border: red solid 1px;
} */

#call-to-action .layout {
    min-height: 250px;
    height: 100%;
}

#call-to-action .container {
    width: 90%;
    height: 70%;

    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    margin: 48px 0px;
    padding: 0px 32px;
}

#call-to-action .text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    justify-content: center;
}

#call-to-action h2 {
    font-size: 2rem;
}

#call-to-action p {
    font-size: 0.8rem;
}

#call-to-action .btn-signup {
    border: 2px solid #E5E7EB;
    padding: 6px 20px;
    text-align: center;
    border-radius: 8px;
    transition: all 0.2 ease;
    box-shadow: none;
}

#call-to-action .btn-signup:hover {
    transform: translateY(-2px);
}

#call-to-action .btn-signup:active {
    transform: translateY(+1px);
}

/* footer */
footer {
    background-color: #1F2937;
    width: 100%;
    text-align: center;
    padding: 16px;
    font-size: 0.8rem;
    font-weight: 200;
}